{% extends 'base.html' %}

{% block title %}Show Books{% endblock %}
{% block content %}

<div style="width:80%;margin:auto">
    {% if booklist %}
    <h1>List of Books</h1>
    
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Book Name</th>

          </tr>
        </thead>
        <tbody>
            {% for item in booklist %}
            <tr>
                <td>{{item.id}}</td>
                <td><a href="{% url 'book_details' id=item.id %}">{{item.book_name}}</a></td>


            </tr>

            {% endfor %}
   

        </tbody>
      </table>
    {% else %}
    <h3>No Data Available</h3>
    {% endif %}

</div>
{% endblock %}